* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="number"] {
    width: 50%;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.total {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
}
.currency-container {
    display: flex;
    align-items: center;
}
.currency-container .form-group {
    margin-right: 10px;
}
.currency-img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}